TURSO_DATABASE_URL="libsql://your-db-name.turso.io"
TURSO_AUTH_TOKEN="your-turso-auth-token"
ADMIN_EMAIL="admin@studyspace.com"
ADMIN_PASSWORD="Admin@123"
AUTH_SECRET="fb0ce136c74f50f6963db5d1e812319b309e0ba1ba5e9d73644877f03a85a294"
NEXTAUTH_URL="http://localhost:3000"
